body {
    font-family: 'Courier New', monospace;
    background: #fff;
    padding: 20px;
}

.hoja {
    width: 800px;
    margin: auto;
    padding: 10px;
    background: white;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.subtitle {
    font-size: 14px;
}

.right p {
    text-align: right;
}

.datos-local {
    margin-bottom: 20px;
    line-height: 1.3;
}

.cta {
    margin-bottom: 20px;
}

.tabla {
    width: 100%;
}

.fila {
    display: grid;
    grid-template-columns: 50px 80px 1fr 100px 120px;
    margin-bottom: 5px;
}

.header {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.c4, .c5 {
    text-align: right;
}

.pie {
    margin-top: 40px;
}

.totales {
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
}

.linea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.acciones {
    width: 800px;
    margin: auto;
    margin-top: 30px;
    text-align: right;
}
